@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

.grid {
  display: grid;
}

body {
  background-image: url("./images/pattern-background-desktop.svg");
  background-color: var(--Pale-blue);
  font-family: "Red Hat Display";
  background-repeat: no-repeat;
  color: var(--Dark-blue);
  background-size: cover;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card-container {
  transform: translate(-50%, -50%);
  grid-template-rows: auto 66%;
  border-radius: 20px;
  position: absolute;
  height: 75vh;
  width: 23%;
  left: 50%;
  top: 50%;
  box-shadow: 0px 9px 10px var(--Desaturated-blue);
}

#hero-el {
  background-image: url("/images/illustration-hero.svg");
  border-radius: 20px;
  background-size: cover;
  box-shadow: 0px 7px 10px var(--Desaturated-blue);
}

/* Card Information */
.info-con {
  grid-template-rows: 40% auto;
  text-align: center;
}

.text-sec h1 {
  font-size: 22px;
  font-weight: 900;
  margin-top: 35px;
}
.text-sec p {
  margin: 0px 30px 0 40px;
  line-height: 23px;
  opacity: 57%;
  font-size: 14px;
  width: 80%;
  font-weight: 700;
}

.pricing-sec {
  grid-template-rows: 40% auto;
}

.price-rate-el {
  background-color: var(--Very-pale-blue);
  width: 80%;
  transform: translatex(12%);
  display: flex;
  align-items: center;
  border-radius: 20px;
}

#icon-music {
  background-image: url("./images/icon-music.svg");
  background-repeat: none;
  background-size: cover;
  height: 45%;
  width: 14.5%;
  margin-left: 12px;
}

.payment-rate {
  margin-left: 12px;
}
.price-rate-el h3 {
  margin: 0;
  font-weight: 900;
  margin-left: 12px;
  font-size: 15px;
}
.price-rate-el p {
  margin: 0;
  padding: 0;
  line-height: 20px;
  margin-left: px;
  font-size: 12px;
}

.cta-change {
  transform: translatex(60px);
}

.cta-change a {
  float: right;
  font-size: 13px;
  font-weight: 700;
}

button {
  background-color: var(--Bright-blue);
  border-radius: 6px;
  border-style: none;
  font-weight: 700;
  color: #ffff;
  padding: 10px;
  outline: none;
  height: 29%;
  width: 75%;
  transform: translateY(32px);
  cursor: pointer;
  box-shadow: 0px 9px 10px var(--Desaturated-blue);
}

.cta-cancel {
  font-weight: 900;
  font-size: 13px;
  color: var(--Dark-blue);
  position: relative;
  text-align: center;
  transform: translatey(100%);
  transform: translateY(52px);
}
.cta-cancel a {
  color: var(--Dark-blue);
  opacity: 57%;
  text-decoration: none;
}
